html {
  font-size: 20px;
}

body {
  font-family: "Arial", "Meiryo", sans-serif ;
  text-align: center;
}

h1 {
  font-size: 2em;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray ;
  border-bottom: solid 3px rgb(115, 115, 114);
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.font-color-m , .font-color2 {
color: skyblue;
}

.font-color-p , .font-color1 {
  color:  rgb(255, 192, 203);
}

#font-weight p {
  font-weight: bold;
}